<% if @patient_details['addresses'].length > 0 %>
<article data-url="#" class="mapbox-wrap">
    <header><%= image_tag "icons/house.png" %><h4><a href="<%= patient_edit_personal_path(@patient.uuid) %>#residences">Residence</a></h4></header>
    <section>
        <p><%= @patient_details['addresses'][0].address_line1 %><br /><%= @patient_details['addresses'][0].city %>, <%= @patient_details['addresses'][0].state_province %><br /><%= @patient_details['addresses'][0].postal_code %></p>
    </section>
</article>
<% end %>