<section class="page-title">
    <h1><a href="<%= admin_campaign_index_path %>" data-balloon="View All Campaigns" class="baby-got-back"><i class="material-icons">arrow_back</i></a><%= @campaign.name %></h1>
</section>

<%= render :partial => 'admin/sidebar' %>

<section id="main-column">

<section class="pillbox">
    <article>
    <div class="content">
        <p>There will be some sick performance reports, charts and graphs, bla bla. In the meantime you can <a href="<%= admin_campaign_edit_path(@campaign.id) %>">edit</a> or <a href="<%= admin_campaign_destroy_path %>">delete</a> this campaign. Yup, those icons are on the previous screen in the actions column.</p>
    </div>
    </article>
</section>

</section>