<section class="page-title">
    <h1>Provider Credentials</h1>
</section>

<%= render :partial => 'admin/sidebar' %>

<section id="main-column">

<section class="pillbox">
<article>
<div class="content">
<table class="default datagrid">
    <thead>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Created At</th>
        <th>Files</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @objects.each do |item| %>
      <tr>
        <td><a href="<%= admin_provider_credentials_show_path(item.id) %>"><strong><%= item.patient.name_extended %></strong></a></td>
        <td><%= item.status %></td>
        <td><small><%= item.created_at %></small></td>
        <td>
            <small>
            <% if item.document_digitized and item.document_digitized.document_digitized_files %>
            <%= item.document_digitized.document_digitized_files.size %>
            <% else %>
            0
            <% end %>
            </small>
        </td>
        <td>
            <a href="#" style="display: inline-block;" data-popover="creds-<%= item.id %>"><i class="material-icons">more_horizon</i></a>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>
</div>
</article>
</section>

    <a data-balloon="Create Credentials" class="circler" href="#"><i class="material-icons md-48">add_circle</i></a>
    <%= render :partial => 'admin/pagination', :locals => { :objects => @objects } %>

</section>

<% @objects.each do |item| %>
<div id="popover-creds-<%= item.id %>" class="popover">
    <ul class="actions">
        <li><a href="<%= admin_provider_credentials_show_path(item.id) %>">View</a></li>
        
        <% if !item.accepted? %>
        <li><a href="#" data-url="<%= api_provider_credentials_approve_path(item.id) %>" class="action-credentials-approve">Approve / Grant</a></li>
        <% end %>

        <% if !item.rejected? %>
        <li><a href="#" data-url="<%= api_provider_credentials_deny_path(item.id) %>" class="action-credentials-deny">Deny / Revoke</a></li>
        <% end %>
    </ul>
</div>
<% end %>

<% content_for :js_bootstrap do %>
<script>
    // wire up the object actions
    popover.init();
</script>
<% end %>