<section class="page-title xadd-new">
    <h1>Care Plans: Questions</h1>
</section>

<%= render :partial => 'admin/sidebar' %>

<section id="main-column">
<section class="pillbox">
<article>
<div class="content">
<input type="hidden" name="mode" value="" />
<table class="default datagrid">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Group ID</th>
            <th># Choices</th>
            <th>Type</th>
            <th>Updated</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @objects.each do |item| %>
        <tr>
            <td><a href="#"><%= item.id %></a></td>
            <td><a href="#"><%= item.name %></a></td>
            <td><%= item.care_plan_question_group_id %></td>
            <td><%= item.choices.count %></td>
            <td><%= item[:choice_type] %></td>
            <td><%= item.updated_at %></td>
            <td>
            <a href="#" style="display: inline-block;" data-popover="cspr-<%= item.id %>"><i class="material-icons">more_horizon</i></a>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>
</article>
</section>

<a data-balloon="Create Question Group" class="circler" href="<%= admin_question_group_new_path %>"><i class="material-icons md-48">add_circle</i></a>

<%= render :partial => 'admin/pagination', :locals => { :objects => @objects } %>

<% @objects.each do |item| %>
<div id="popover-cspr-<%= item.id %>" class="popover">
    <ul class="actions">
        <li><a href="#" target="_blank">Download</a></li>
        <li><a href="#">Mark as Shipped</a></li>
        <li><a href="#">Reset Status</a></li>
        <li class="divider"></li>
        <li><a href="#">Delete</a></li>
    </ul>
</div>
<% end %>

<% content_for :js_bootstrap do %>
<script>
    // wire up the object actions
    popover.init();
</script>
<% end %>
