<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HealthNotifier</title>
    <meta name="description" content="">
    <meta name="author" content="HealthNotifier">
    <meta name="apple-itunes-app" content="#">
    <!-- , app-argument=myURL -->
    <link href="/favicon.png" rel="shortcut icon" type="image/png" />
    <%= stylesheet_link_tag "application" %>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= yield :stylesheets %>
    <%= javascript_include_tag "application" %>
    <%= yield :js_head %>
    <%= csrf_meta_tags %>
    <!-- IE edge times? -->
    <meta name="Content-Security-Policy" content="img-src *">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body<%= yield :body_class %>>
    <%= render :partial => "shared/header" %>
    <%= yield :below_header %>
    <main id="main">
        <%= render :partial => 'shared/notifications' %>
        <%= yield :messaging %>
        <section class="page-title">
        <%= yield :pagetitle %>
        </section>
        <!-- main guts -->
        <%= yield %>
    </main>
    
    <%= render :partial => 'shared/footer' %>
    <%= render :partial => "shared/timeout_modal" %>
    <%= render :partial => "shared/privacy_modal" %>
    <%= render :partial => "components/loader" %>
    <% if false %><%= render :partial => "shared/usersnap" %><% end %>

    <%= yield :bodyextra %>
    <%= yield :js_bootstrap %>

    <% if request.host.include? "domain.com" %>
    <script type="text/javascript">
        <%= render :partial => "shared/google_analytics" %>
    </script>
    <% end %>
    
</body>
</html>